#TeamPage {
    margin: 50px 0;
    text-align: center;
    widows: 100%;
    position: relative;
}

#TeamPage h1 {
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.451);
}

#TeamPage .teamMemberCards {
    text-align: left;
    display: flex;
    flex-direction: column;
}

#TeamPage .teamMemberCards .teamsection {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 600px) {
        padding: 15% 0 1% 0%;
    }
    padding: 7% 0 1% 0%;
    margin-bottom: 3%;
    gap: 2em;
    border-bottom: 2px solid rgb(131, 131, 237);
    position: relative;
    justify-content: center;
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#TeamPage .teamMemberCards .teamsection>span {
    position: absolute;
    top: 0;
    left: 2em;
    font-weight: bold;
    font-size: 2em;
}

/* #TeamPage .teamMemberCards .Teammembercard .profileImg {
    transform: translateX(-45%) translateY(-50%) rotate(45deg) scale(0.77);
} */