#Team {
    display: block;
    margin-bottom: 2em;
    text-align: center;
    z-index: 1;
    padding: 2em 0;
}

#Team h1 {
    margin-bottom: 2em;
}

.Teammembercards {
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.Teammembercard {
    background: #0092CE;
    position: relative;
    /* min-width: min(24em, 70%); */
    max-width: 95vw;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-inline: 1em;
    /* padding-left: 10%; */
}

.Teammembercard .profileImg {
    position: relative;
    /* max-height: 25%; */
    /* min-height: 100%; */
    /* max-height: min(50%, 50px); */
    height: 13em;
    aspect-ratio: 1;
    overflow: hidden;
    background-color: #24242456;
    border-radius: 50%;
    /* transform: translate(-50%); */

    /* to apply diamond shape */
    /* transform: translateX(-45%) translateY(-50%) rotate(45deg) scale(1.1); */
    /* top: 50%; */

    @media only screen and (max-width: 500px) {
        height: 17em;
    }
}

.Teammembercard .profileImg img {
    width: 100%;
    position: relative;
    top: 0;
    aspect-ratio: 1;

    /* to apply diamond shape */
    /* transform: rotate(-45deg) scale(1.5); */
}

.Teammembercard .memberinfo {
    display: inline-block;
    /* padding: 1.5em 1.5em 1.5em 40%; */
    padding: 1.5em 1.5em 1.5em 1.5em;
    color: #fbfbfb;
    width: max-content;
}

.Teammembercard .memberinfo .name {
    font-weight: bold;
    font-size: 1.8em;
}

.Teammembercard .memberinfo .MemberSocialLinks {
    display: flex;
    gap: 0.5em;
    width: 100%;
    margin-top: 1em;
}

.Teammembercard .memberinfo .MemberSocialLinks span a img {
    max-height: 1em;
    aspect-ratio: 1;
}